<!-- Intro Image -->
<header class="greeting" id="greeting">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 intro-text wow fadeInRight">
                <h1>Welcome to the Rutgers IEEE Student Branch!</h1>
                <form id="mlb2-2690065" action="//app.mailerlite.com/webforms/popup/v8b3p5" data-code="v8b3p5" target="_blank">
                    <div class="button-preview">
                        <button type="submit" class="ml-subscribe-button gradient-on"><i class="fa fa-fw fa-envelope"></i>&nbsp;Join our mailing list!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
