<!-- Intro Image -->
<header class="greeting" id="greeting">
    <flash-message></flash-message>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 intro-text wow fadeInRight">
                <h1>Welcome to the Rutgers IEEE Student Branch!</h1>
                    <div class="button-preview">
                        <button ng-click="$ctrl.openSignupModal()" class="btn btn-success"><i class="fa fa-fw fa-envelope"></i>&nbsp;Join our mailing list!</button>
                    </div>
            </div>
        </div>
    </div>
</header>
