/* style.css
 * Author: Jeremy Savarin
 * Custom stylesheet
 */

body {
    background-attachment: fixed;
    background-image: url("../assets/ee-building.jpg");
    background-size: cover;
}

.navbar .nav > li > a {
    color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Droid Sans";
    font-size: 20px;
}

.navbar .navbar-brand {
    color: white;
    font-size: 30px;
}

header {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

header h1 {
    color: white;
    font-family: "Droid Sans";
    font-weight: bold;
}

.about-ieee {
    background-color: rgba(0, 102, 161, 0.9);
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-ieee h2, .about-rutgers-ieee h2, .about-ieee p, .about-rutgers-ieee p,
.eboard h2, .eboard p {
    color: white;
    font-family: "Droid Sans";
}

.about-ieee p, .about-rutgers-ieee p, .eboard p {
    font-size: 20px;
}

.about-rutgers-ieee {
    background-color: rgba(95, 106, 114, 0.9);
    padding-top: 50px;
    padding-bottom: 50px;
}

.eboard {
    background-color: rgba(0, 102, 161, 0.9);
    padding-top: 50px;
    padding-bottom: 50px;
}

.eboard img {
    width: 250px;
    height: 250px;
}

footer {
    background: black;
    color: white;
    padding: 10px;
}
