/* style.css
 * Author: Jeremy Savarin
 * Custom stylesheet
 */

 /* Fade-in animation */
@keyframes fadeIn {
    from {opacity: 0;background-color: black;}
    to {opacity: 1;}
}

body {
    animation: fadeIn 4s;
    background-attachment: fixed;
    background-image: url("../assets/ee-building.jpg");
    background-size: cover;
}

.navbar .nav > li > a {
    color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Droid Sans";
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.navbar .navbar-brand {
    color: white;
    font-size: 30px;
}

header {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

header h1 {
    color: white;
    font-family: "Droid Sans";
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px black;
}

.about {
    background-color: #00626d;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about h2, .about p, .eboard h2, .eboard p, .contact h1, .contact h2, .contact p {
    color: white;
    font-family: "Droid Sans";
}

.about-ieee h2, .about-rutgers-ieee h2, .eboard h2, .contact h2 {
    font-size: 40px;
}

.about-ieee p, .eboard p {
    font-size: 20px;
    text-align: left;
}

.contact h1 {
    text-align: left;
}

.ieee-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-rutgers-ieee p, .contact p {
    font-size: 15px;
    text-align: left;
}

.eboard {
    background-color: rgba(0, 102, 161, 1);
    padding-top: 50px;
    padding-bottom: 50px;
}

.eboard img {
    width: 250px;
    height: 250px;
}

.contact {
    background-color:  #00626d;
    padding-top: 10px;
}

.copyright {
    background: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright p {
    text-align: center;
}
