/* style.css
 * Author: Jeremy Savarin
 * Custom stylesheet
 */


/* Fade-in animation */

@keyframes fadeIn {
    from {
        opacity: 0;
        background-color: black;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn 3s;
    background-attachment: fixed;
    background-image: url("../img/ee-building.jpg");
    background-size: cover;
}

.navbar .nav > li > a {
    color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Droid Sans";
    font-size: 20px;
    text-shadow: 2px 2px black;
    transition: background-color 1s ease 0s;
}

.navbar.opaque {
    background-color: black;
    transition: background-color 1s ease 0s;
}

.navbar .navbar-brand {
    color: white;
    font-size: 30px;
}

header {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px black;
}


.mail-button {
    width: 400px;
    height: 50px;
    font-size: 25px;
}

.about {
    background-color: #d21034;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

header h1,
.about h2,
.about p,
.project-teams p,
.project-teams h2,
.project-teams h3,
.eboard h2,
.eboard p,
.contact h1,
.contact h2,
.contact h3,
.contact p {
    color: white;
    font-family: "Droid Sans";
}

.about h2,
.about h2,
.project-teams h2,
.eboard h2,
.contact h2 {
    font-size: 40px;
}

.about p,
.project-teams p,
.eboard p {
    font-size: 20px;
    text-align: left;
}

.contact h3 {
    weight: bold;
}

.ieee-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-rutgers-ieee p {
    font-size: 15px;
    text-align: left;
}

.project-teams {
    background-color: #848589;
    padding-top: 50px;
    padding-bottom: 50px;
}

.project-teams p {
    font-size: 15px;
    text-align: left;
}

.eboard {
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact {
    background-color: #d21034;
    padding-top: 10px;
}

.contact p {
    font-size: 15px;
    text-align: center;
}

.copyright {
    background: black;
    color: white;
    padding: 10px;
}

.copyright p {
    text-align: center;
}
