/* style.css
 * Author: Jeremy Savarin
 * Custom stylesheet
 */
 
 a {
     color: white;
 }

 a:hover {
     color: #0B5172;
 }

 body {
     background: #006699;
 }

 .navbar {
     background-color: black;
     font-family: "Quicksand";
     font-size: 20px;
     text-shadow: 2px 2px black;
 }

 .ieee-logo {
     max-width: 150%;
     max-height: 150%;
 }

 header {
     background-attachment: fixed;
     background-size: cover;
     background-image: url("../img/ee-building.jpg");
     background-position: 40% 0;
     opacity: 0.65;
     padding-top: 300px;
     padding-bottom: 300px;
     text-align: center;
 }

 header h1 {
     font-weight: bolder;
     font-size: 50px;
     text-shadow: 2px 2px black;
     opacity: 2.0;
 }

.about {
    background-color: #0B5172;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    min-height: 400px;
}

.about h2,
.about p,
.contact h1,
.contact h2,
.contact h3,
.contact p,
.contact address,
.eboard h2,
.eboard p,
.project-teams h2,
.project-teams h3,
.project-teams p,
header h1 {
    color: white;
    font-family: "Quicksand";
}

.about h2,
.about h2,
.contact h2,
.eboard h2,
.project-teams h2 {
    font-weight: bolder;
    font-size: 40px;
}

.about p,
.about-rutgers-ieee p .project-teams p,
.eboard p {
    font-size: 20px;
}

.contact h3 {
    weight: bold;
}

.project-teams {
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact h3,
.project-teams h3 {
    font-weight: bold;
}

.eboard {
    background-color: #0B5172;
    padding-top: 30px;
    padding-bottom: 30px;
}

.eboard p {
    font-size: 20px;
    font-weight: bold;
}

.member {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.member img {
    padding-bottom: 10px;
}

.member p {
    padding-bottom: 10px;
    word-wrap: normal;
}

.contact {
    background-color: black;
    padding-top: 10px;
}

.contact p {
    font-size: 15px;
    text-align: center;
}

.copyright {
    background: black;
    border-top: 1px solid white;
    color: white;
    padding: 10px;
}

.copyright p {
    text-align: center;
    font-family: "Quicksand";
}
