<!-- About IEEE-->
<section class="about" id="about">
    <div class="container-fluid wow fadeInLeft">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 about-ieee">
                <h2>About</h2>
                <hr class="separator">
                <h2 class="section-headers"> {{$ctrl.aboutIEEEHeader}} </h2>
                <p ng-repeat="desc in $ctrl.aboutIEEEDescriptions">{{desc.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 about-rutgers-ieee">
                <h2 class="section-headers">{{$ctrl.aboutRutgersIEEEHeader}}</h2>
                <p ng-repeat="desc in $ctrl.aboutRutgersIEEEDescriptions">{{desc.description}}</p>
            </div>
        </div>
    </div>
</section>
