<!-- E-Board -->
<section class="eboard" id="eboard">
    <div class="container-fluid wow fadeInLeft">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="section-headers">{{$ctrl.header | uppercase}}</h2>
                <hr class="separator">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 text-center" ng-repeat="member in $ctrl.membersTop">
                        <div class="member">
                            <img src="img/placeholder-img.png" class="img-responsive img-circle">
                            <p>{{member.name}}</p>
                            <p>{{member.position}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
