//_contact.scss
//Author: Jeremy Savarin

.contact {
    @include ieee-content-block($ieee-black);

    a {
        &:hover {
            color: $ieee-darker-blue;
        }
        color: $ieee-white;
    }

    .fa {
        font-size: 650%;
    }
}
