//_copyright.scss
//Author: Jeremy Savarin

.copyright {
    background: black;
    border-top: 1px solid white;
    color: white;
    padding: 10px;
}

.copyright p {
    text-align: center;
    font-family: "Quicksand";
}
