//_greeting.scss
//Author: Jeremy Savarin

header {
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../img/ee-building.jpg");
    background-position: 40% 0;
    padding-top: 22%;
    padding-bottom: 22%;
    text-align: center;

    h1 {
        @extend %ieee-font;
        font-weight: bolder;
        font-size: 350%;
        text-shadow: 2px 2px black;
    }
}


.signup {
    background-color: $ieee-black;
    @extend %ieee-font;
}

.help-block {
    @extend %ieee-font;
}
