//_navbar.scss
//Author: Jeremy Savarin

.navbar {
    background-color: $ieee-black;
    font-family: "Quicksand";
    font-size: 150%;
    text-shadow: 2px 2px $ieee-black;
}
.ieee-logo {
    max-width: 140%;
    max-height: 140%;
}
