<!-- Contact Info -->
<section class="contact" id="contact">
    <div class="container-fluid wow fadeInRight">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="section-headers">CONTACT INFO</h2>
                <hr class="separator">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <h3>Mailing Address:</h3>
                        <hr class="separator">
                        <address>
                            {{$ctrl.address.organization}}<br>
                            {{$ctrl.address.building}}<br>
                            {{$ctrl.address.street}}<br>
                            {{$ctrl.address.city}}
                        </address>
                    </div>
                    <div class="col-lg-4 text-center">
                        <h3>Social Media:</h3>
                        <hr class="separator">
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/groups/rutgersieee/" class="btn-social btn-outline">
                                    <i class="fa fa-fw fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/rutgers" class="btn-social btn-outline">
                                    <i class="fa fa-fw fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:rutgersieee@gmail.com" class="btn-social btn-outline">
                                    <i class="fa fa-fw fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 text-center">
                        <h3>Useful Links:</h3>
                        <hr class="separator">
                        <p>
                            <a href="https://www.ieee.org">IEEE Main Website</a>
                        </p>
                        <p>
                            <a href="http://soe.rutgers.edu">School of Engineering</a>
                        </p>
                        <p>
                            <a href="http://www.rutgers.edu">Rutgers University</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
